@media (min-width: 450px) {
  #nav button {
    display: none;
  }

  #hero #nav #menu {
    display: flex;
    flex-flow: row;
    gap: 0.6rem;
    position: inherit;
    background-color: hsl(232, 26%, 16%);
    font-size: larger;
  }

  #hero #nav .hideMenu {
    display: flex;
  }

  #hero,
  #about,
  #projects {
    margin: auto 3rem;
  }
}
