@media (min-width: 450px) {
  #hero,
  #about,
  #projects {
    margin: auto 3rem;
  }

  #nav button {
    display: none;
  }

  #hero #nav #menu {
    display: flex;
    flex-flow: row;
    gap: 1.2rem;
    position: inherit;
    background-color: hsl(232, 26%, 16%);
    font-size: larger;
  }

  #hero #nav .hideMenu {
    display: flex;
  }

  #hero .general-info .typewritter-container {
    margin: 2rem 0;
  }

  #hero .general-info .sm-about p {
    width: 40%;
    margin: 2rem 0;
    /* margin: auto; */
  }

  #about .image-container {
    margin: 0 auto 3rem;
  }

  #about .image-container img {
    width: 200px;
    height: 200px;
    border: 2px white solid;
    border-radius: 500px;
    background-color: #474c70;
  }

  #about .p-skills-container {
    display: flex;
    margin: auto;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  #about .p-container {
    width: 50%;
  }

  #about .skills-container {
    text-align: center;
  }

  #about .skills-container ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
  }

  #about .p-skills-container .skills-container {
    display: flex;
    flex-flow: column;
    margin: 3rem auto;
  }

  #about .skills-container .skills-list ul {
    display: flex;
    flex-flow: row;
  }

  #about .skills-list ul div {
    margin: 2rem;
  }

  #projects .projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  #projects #project-card {
    margin: 1.5rem 4rem;
  }
}
