/* ---------------------------
General Config
--------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1f2235;
}

/* ---------------------------
Hero
--------------------------- */

#hero {
  color: white;
}

#hero #header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hero #header #logo {
  font-size: x-large;
  font-weight: bold;
  color: #0cf574;
}

#hero #nav #menu {
  list-style-type: none;
  background-color: black;
}

#hero #nav .showMenu {
  display: flex;
  flex-flow: column;
  position: absolute;
  right: 0;
  width: 30%;
  text-align: center;
}

#hero #nav .hideMenu {
  display: none;
}

#hero .showMenu li {
  padding: 7px;
}

#hero .general-info {
  margin: 5rem auto;
}

#hero .general-info h1 {
  font-size: 2rem;
  color: #0cf574;
}

#hero .general-info .typewritter-container {
  display: inline-flex;
  font-size: 1.3rem;
}

#hero .general-info .Typewriter {
  margin: 0 0.4rem;
  color: #0cf574;
}

#hero .general-info .sm-about {
  font-size: 1.1rem;
}

#hero .general-info .social-media {
  display: flex;
  gap: 0.8rem;
  margin: 3rem auto;
}

#hero .general-info .social-media a {
  color: white;
  display: flex;
  padding: 15px;
  border: 1px white solid;
  border-radius: 50%;
}

#hero .general-info .social-media a:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

#hero .social-media .social-media-icon {
  margin: auto;
  text-align: center;
}

/* #hero .general-info .pfp-container {
  display: flex;
}

#hero .general-info .pfp-container img {
  margin: auto;
} */

/* ---------------------------
About
--------------------------- */

#about {
  color: white;
}

#about .image-container {
  margin: 0;
}

#about .image-container img {
  width: 100px;
  height: 100px;
  float: left;
  /* margin: 1.2rem 5px 0 0; */
}

p:after {
  content: '';
  display: table;
  clear: both;
}

/* ---------------------------
Projects
--------------------------- */

#projects {
  color: white;
}

#projects #project-card {
  margin: 2rem auto;
  display: flex;
  position: relative;
}

#projects #project-card img {
  margin: auto;
  border: 2px #0cf574 solid;
}

#projects #project-card button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

#projects #project-card .overlay {
  width: 200px;
  height: 200px;
  background-color: #0cf574;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  transition: 800ms;
}

#projects #project-card .overlay:hover {
  opacity: 100%;
}

#projects .overlay .project-name {
  margin: auto;
  text-align: center;
  font-weight: bold;
  color: #1f2235;
}
#projects .overlay .project-buttons {
  display: flex;
  gap: 2rem;
}

#projects .overlay .project-buttons a {
  color: #1f2235;
  font-size: 0.5rem;
  background-color: aliceblue;
  padding: 1px 7px;
  text-align: center;
  border-radius: 5px;
  margin: 1.5rem 0;
}

.project-tags {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

#tag {
  background-color: #1f2235;
  padding: 0 4px;
  font-weight: bold;
  border-radius: 500px;
  font-size: 0.7rem;
  margin: 0.1rem 0.2rem;
}
