/* ---------------------------
General
--------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
}

body {
  background-image: url('./images/background.png');
  
}
/* ---------------------------
Header
--------------------------- */

#header {
  margin: 1.5rem auto;
}

#header h1,
#header h2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-align: center;
}

#header h1 {
  font-size: 36px;
}

#header h2 {
  font-size: 22px;
  margin: 0.7rem auto;
}

/* ---------------------------
About
--------------------------- */

#about p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 2.5rem 40px;
  line-height: 25px;
  letter-spacing: 11%;
}

/* ---------------------------
Skills
--------------------------- */

#skills {
  color: white;
  display: flex;
  flex-flow: column;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  text-align: center;
  align-items: center;
}

#skills h3 {
  font-size: 23px;
  font-weight: normal;
}

#skills ul {
  list-style-type: none;
}

#skills .double-list-skills,
#skills .row-skills {
  font-size: 18px;
  font-weight: normal;
}

#skills .double-list-skills {
  display: flex;
  flex-flow: row;
  margin: 1rem;
}

#skills .double-list-skills ul li + li {
  margin: 0.8rem;
}

#skills .separator {
  background-color: white;
  margin: 0 1rem;
  width: 1px;
}

#skills .row-skills {
  display: flex;
}

#skills .row-skills ul li {
  display: inline-block;
  margin: auto 1rem;
}
